<form
  id="todo-edit-form"
  class="d-flex flex-column gap-2 border p-3"
  hx-put={{ '/todos/' ~ todo.id }}
  hx-swap="outerHTML"
>
  <input
    name="id"
    type="hidden"
    value="{{ todo.id }}"
  />
  <label for="title">
    Title
  </label>
  <input
    required
    name="title"
    type="text"
    value="{{ todo.title }}"
  />
  <label for="content">
    Description
  </label>
  <textarea required name="content" rows="5" cols="50">{{ todo.content }}</textarea>
  <div class="form-check">
    <input
      class="form-check-input"
      name="complete"
      type="checkbox"
      {{ 'checked' if todo.complete }}
    />
    <label class="form-check-label" for="complete">
      Complete
    </label>
  </div>
  <div class="d-flex justify-content-center gap-1">
    <button
      class="btn btn-primary"
      type="submit"
    >
      Update
    </button>
    <button
      class="btn btn-danger"
      hx-delete={{ '/todos/' ~ todo.id }}
      hx-trigger="click consume"
      hx-target="#todo-edit-form"
      hx-swap="outerHTML"
    >
      Delete
    </button>
  </div>
</form>