<form
  class="d-flex flex-column gap-2 border p-3"
  hx-post="/todos"
  hx-swap="outerHTML"
>
  <label for="title">
    Title
  </label>
  <input
    required
    name="title"
    type="text"
  />
  <label for="content">
    Description
  </label>
  <textarea required name="content" rows="5" cols="50"></textarea>
  <div class="d-flex justify-content-center">
    <button
      class="btn btn-primary mt-2"
      style="width: fit-content"
      type="submit"
    >
      Create
    </button>
  </div>
</form>