<div>
  <div class="list-group" style="width: 500px">
    {% for todo in todos %}
      <button
        class="list-group-item list-group-item-action"
        hx-get={{ '/todos/' ~ todo.id }}
        hx-trigger="click"
        hx-target="#todo-form-container"
      >
        {{ todo.title }}
        {% if todo.complete %}
          <i class="bi bi-check"></i>
        {% endif %}
      </button>
    {% endfor %}
    </div>
  <button
    class="btn btn-primary mt-3"
    hx-get="/todos/new"
    hx-trigger="click"
    hx-target="#todo-form-container"
  >
    New
  </button>
</div>